:root {
    --amarelo: #FAFF00;
    --branco: #FFF;
    --preto: #000;
}

body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    background: var(--preto);
}

h1 {
    color: var(--branco);
}

nav h1 span {
    color: var(--amarelo);
}

.menu {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo {
    grid-column: 1;
    font-family: ubuntu;
    font-weight: 300;
}

.links {
    grid-column: 5;
    display: flex;
    gap: 1rem;
    font-family: 'ubuntu mono';
}

.links a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--branco);
}

.conteudo-principal {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
}

.titulo {
    grid-column: 1/4;
    font-family: ubuntu;
    font-size: 3rem;
}

.main-image {
    grid-column: 4/7;
    width: 300px;  /* Ajuste para o tamanho desejado */
    height: 500px; /* Ajuste para o tamanho desejado */
    overflow: hidden;
    position: relative;
}

.main-image img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}